{
  "env": {
    "node": true
  },
  "extends": ["standard"],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always",
      "objects": "always",
      "imports": "ignore",
      "exports": "ignore",
      "functions": "ignore"
    }]
  }

}
